# Dependencies
node_modules/

# Build outputs
.next/
out/
dist/
contracts/build/

# Env files
.env*
.env.local
!.env.example

# Misc
.DS_Store
pnpm-lock.yaml

# Extra
zklogin.md
Sui-Move-Book.md
walrus-integration.md
gemini-api-docs.md
sui-zk-messaging.md